@import 'meyer';
@import 'variables';
@import 'fonts';

* {
    box-sizing: border-box;
}

body {
    font-family: 'Overpass', sans-serif;
    background-color: #1f1f1f;
    color: $white;
}

#speedometer {
    background-color: $green;
    width: 260px;
    height: 260px;
    border-radius: 1000px;
    margin: 60px auto;
    text-align: center;

    @include glow($green, 50px);

    #currentSpeed {
        font-weight: bold;

        margin-bottom: 0px;
        padding: 90px 0px 0px;
        line-height: 120px;
    }

    p {
        padding-top: 0px;
        margin-top: 0px;
    }
}

#speedLimit {
    text-align: center;
    label {
        display: block;
        margin: 15px;
        font-size: 24px;
    }
    p {
        font-size: 48px;
        font-weight: bolder;

        color: $green;
    }
}

#warnings {
    display: block;
    width: 322.52px;
    margin: auto;

    div {
        display: inline-block;

        width: 65px;
        height: 65px;
        border-radius: 69420px;

        @include glow($green, 25px);

        background-color: $green;
        margin: 20px;
    }
}
