@import 'meyer';
@import 'variables';
@import 'fonts';

#speedometer {
    background-color: red;
    width: 270px;
    height: 270px;
    border-radius: 1000px;
    margin: auto;
    text-align: center;

    @include glow($green, 50px);

    #currentSpeed {
        font-weight: bold;

        padding-top: 60px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        line-height: 180px;
        background-color: green;
    }
    
    p {
        padding-top: 0px;
        margin-top: 0px;
    }
}
