/* line 13, node_modules/meyer-sass/_meyer.sass */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 35, node_modules/meyer-sass/_meyer.sass */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 39, node_modules/meyer-sass/_meyer.sass */
body {
  line-height: 1;
}

/* line 42, node_modules/meyer-sass/_meyer.sass */
ol, ul {
  list-style: none;
}

/* line 45, node_modules/meyer-sass/_meyer.sass */
blockquote, q {
  quotes: none;
}

/* line 47, node_modules/meyer-sass/_meyer.sass */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 51, node_modules/meyer-sass/_meyer.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Overpass";
  src: url("../css/fonts/overpass-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "Overpass Bold";
  src: url("../css/fonts/overpass-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "Overpass Black";
  src: url("../css/fonts/overpass-regular-webfont.woff") format("woff");
}

/* line 20, ../../../Desktop/2020 - 2021/2021/462/Speedometer/www/sass/_fonts.scss */
h1 {
  font-size: 180px;
}

/* line 24, ../../../Desktop/2020 - 2021/2021/462/Speedometer/www/sass/_fonts.scss */
p {
  font-size: 36px;
}

/* line 5, ../../../Desktop/2020 - 2021/2021/462/Speedometer/www/sass/index.scss */
body {
  font-family: 'Overpass', sans-serif;
  background-color: #1f1f1f;
  color: #f0f0f0;
}

/* line 11, ../../../Desktop/2020 - 2021/2021/462/Speedometer/www/sass/index.scss */
#speedometer {
  background-color: #3fd061;
  width: 260px;
  height: 260px;
  border-radius: 1000px;
  margin: 60px auto;
  text-align: center;
  box-shadow: 0 0 50px rgba(63, 208, 97, 0.75);
}

/* line 21, ../../../Desktop/2020 - 2021/2021/462/Speedometer/www/sass/index.scss */
#speedometer #currentSpeed {
  font-weight: bold;
  margin-bottom: 0px;
  padding: 90px 0px 0px;
  line-height: 120px;
}

/* line 29, ../../../Desktop/2020 - 2021/2021/462/Speedometer/www/sass/index.scss */
#speedometer p {
  padding-top: 0px;
  margin-top: 0px;
}

/* line 35, ../../../Desktop/2020 - 2021/2021/462/Speedometer/www/sass/index.scss */
#speedLimit {
  text-align: center;
}

/* line 37, ../../../Desktop/2020 - 2021/2021/462/Speedometer/www/sass/index.scss */
#speedLimit label {
  display: block;
  margin: 15px;
  font-size: 24px;
}

/* line 42, ../../../Desktop/2020 - 2021/2021/462/Speedometer/www/sass/index.scss */
#speedLimit p {
  font-size: 48px;
  font-weight: bolder;
  color: #3fd061;
}

/* line 50, ../../../Desktop/2020 - 2021/2021/462/Speedometer/www/sass/index.scss */
#warnings {
  margin: auto;
  display: block;
}

/* line 54, ../../../Desktop/2020 - 2021/2021/462/Speedometer/www/sass/index.scss */
#warnings dth
div {
  display: inline-block;
  width: 65px;
  height: 65px;
  background-color: #3fd061;
  margin: 20px;
}

/*# sourceMappingURL=index.css.map */